.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: linear-gradient(180deg, var(--first-color), var(--second-color));
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 0 0;
}

.header__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__title {
  color: var(--greeting-color);
  font-size: var(--h2-font-size);
}

.logout__button {
  padding: 7px 1rem;
  border-radius: 6px;
  color: #fff;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
}

.logout__button-ghost {
  background: hsla(244, 16%, 92%, 0.6);
  border: 2px solid var(--first-color);
  color: var(--first-color);
  box-shadow: none;
}
