
<div class="header">
  <div class="header__info">
    <label for="btn-nav" class="btn-nav">
      <img src="./../../../assets/menu.svg" alt="bg-img-menu" class="btn-nav-menu">
    </label>
    <input type="checkbox" id="btn-nav">
    <nav class="nav__container">
      <ul class="navigation">
        <li class="navigation__item" (click)="Graph()"><a>{{'HEADER.GRAPH' | translate}}</a></li>
        <li class="navigation__item" (click)="UpdateData()"><a>{{'HEADER.UPDATE_DATA' | translate}}</a></li>
        <li class="navigation__item" (click)="ChangeLan()"><a>{{'HEADER.SWITCH_LAN' | translate}}</a></li>
      </ul>
      <ul class="navigation">
        <li class="navigation__item" (click)="logOut()" ><a>Cerrar Sesión</a></li>
      </ul>
    </nav>
    <h1 class="header__title">
      <span>BIENVENIDO, {{ user.name | uppercase }}</span>
    </h1>
  </div>
</div>
