.graph__section {
  position: relative;
  background-color: hsla(244, 16%, 92%, 0.6);
  border: 2px solid hsla(244, 16%, 92%, 0.75);
  margin-inline: 1.5rem;
  backdrop-filter: blur(20px);
  border-radius: 1rem;
  margin-top: 3rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.graph__info {
  display: flex;
  justify-content: space-between;
}

.graph__info-element {
  border-radius: 1.25rem;
  border: 2.5px solid var(--first-color);
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.graph__info-subelement {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.graph__info-subelement-title {
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}

.graph__info-profit {
  display: flex;
  justify-content: center;
}
.graph__info-profit-green {
  color: green;
}

.graph__info-profit-red {
  color: rgb(114, 32, 32);
}

@media screen and (min-width: 576px) {
  .graph__section {
    width: 60%;
    justify-self: center;
    margin: 0 auto;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1064px) {
  .container {
    display: flex;
    justify-content: center;
  }

  .graph__section {
    justify-self: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .graph__section {
    row-gap: 2rem;
    padding: 3rem;
    border-radius: 1.25rem;
    border: 2.5px solid hsla(244, 16%, 92%, 0.75);
  }
}
