<app-header></app-header>
<div class="container">
  <div class="update__section">
    <div class="update__inputs">
      <div>
        <label class="update__label">Nombre</label>
        <input type="text" name="name" placeholder="Nombre" class="update__input" required />
      </div>
      <div>
        <label class="update__label">Apellido</label>
        <input type="text" name="apellido" placeholder="Apellido" class="update__input" required />
      </div>
      <div>
        <label class="update__label">Fecha nacimiento</label>
        <input type="date" name="bornDate" placeholder="01/01/2000" class="update__input" required />
      </div>
      <div>
        <label class="update__label">Tipo de documento</label>
        <input type="text" name="tipoDocumento" placeholder="CC" class="update__input" required />
      </div>
      <div>
        <label class="update__label">Número de documento</label>
        <input type="number" name="numeroDocumento" placeholder="123456789" class="update__input" required />
      </div>
      <div>
        <label class="update__label">Dirección</label>
        <input type="text" name="direccion" placeholder="Dirección" class="update__input" required />
      </div>
      <div>
        <label class="update__label">Correo electrónico</label>
        <input type="text" name="email" placeholder="Correo electrónico" class="update__input" required />
      </div>
    </div>
    <div>
      <div class="update__buttons">
        <button type="button" class="update__button update__button-active">
          GUARDAR
        </button>
      </div>
    </div>
  </div>
</div>
