<div class="add">
  <div class="add_fields">
    <div class="add_field">
      <label for="" class="add__label">Input 1</label>
      <input type="text" class="add__input">
    </div>

    <div class="add_field">
      <label for="" class="add__label">Input 2</label>
      <input type="text" class="add__input">
    </div>

    <div class="add_field">
      <label for="" class="add__label">Input 3</label>
      <input type="text" class="add__input">
    </div>
  </div>
  <div class="add_button">
    <button class="login__button login__button-ghost">Sign Up</button>
  </div>
</div>
