<div class="container">
  <div class="add__section">
    <div class="add__inputs">
      <div>
        <label for="one" class="add__label">Input 01</label>
        <input type="text" id="one" name="name" placeholder="Enter your Input 01" class="add__input" required />
      </div>
      <div>
        <label for="two" class="add__label">Input 02</label>
        <input type="text" id="two" name="name" placeholder="Enter your Input 02" class="add__input" required />
      </div>
      <div>
        <label for="three" class="add__label">Input 03</label>
        <input type="text" id="three" name="name" placeholder="Enter your Input 03" class="add__input" required />
      </div>
    </div>
    <div>
      <div class="add__buttons">
        <button type="button" class="add__button add__button-active">
          SAVE
        </button>
      </div>
    </div>
  </div>
</div>