<div class="container">
  <div class="add__section">
    <div class="add__inputs">
      <div>
        <label class="add__label">Nombre</label>
        <input type="text" name="name" placeholder="Nombre" class="add__input" required />
      </div>
      <div>
        <label class="add__label">Apellido</label>
        <input type="text" name="apellido" placeholder="Apellido" class="add__input" required />
      </div>
      <div>
        <label class="add__label">Fecha nacimiento</label>
        <input type="date" name="bornDate" placeholder="01/01/2000" class="add__input" required />
      </div>
      <div>
        <label class="add__label">Tipo de documento</label>
        <input type="text" name="tipoDocumento" placeholder="CC" class="add__input" required />
      </div>
      <div>
        <label class="add__label">Número de documento</label>
        <input type="number" name="numeroDocumento" placeholder="123456789" class="add__input" required />
      </div>
      <div>
        <label class="add__label">Dirección</label>
        <input type="text" name="direccion" placeholder="Dirección" class="add__input" required />
      </div>
      <div>
        <label class="add__label">Correo electrónico</label>
        <input type="text" name="email" placeholder="Correo electrónico" class="add__input" required />
      </div>
    </div>
    <div>
      <div class="add__buttons">
        <button type="button" class="add__button add__button-active">
          GUARDAR
        </button>
      </div>
    </div>
  </div>
</div>
