<div class="container" >
  <div class="register__content">
    <img src="./../../assets/bg-login.png" alt="register imagen" class="register__img" />
    <form class="register__form" [formGroup]="registerForm">
      <div>
        <h1 class="register__title"><span>REGISTRO</span></h1>
      </div>
      <div>
        <div class="register__inputs">
          <div>
            <label class="register__label" for="name">Nombre</label>
            <input type="text" formControlName="name" placeholder="Nombre" id="name" class="register__input" required [ngClass]="{'empty-field': registerForm.get('name')?.invalid && registerForm.get('name')?.touched}"/>
          </div>
          <div>
            <label class="register__label" for="surname">Apellidos</label>
            <div class="register__box">
              <input type="text" formControlName="surname" id="surname" placeholder="Apellidos" class="register__input"required [ngClass]="{'empty-field': registerForm.get('surname')?.invalid && registerForm.get('surname')?.touched}"/>
            </div>
          </div>
          <div>
            <label class="register__label" for="bornDate">Fecha de nacimiento</label>
            <input type="date" formControlName="bornDate" placeholder="01/01/2000" id="bornDate" class="register__input" [min]="dateMin" [max]="dateMax" required [ngClass]="{'empty-field': registerForm.get('bornDate')?.invalid && registerForm.get('bornDate')?.touched}"/>
          </div>
          <div>
            <label class="register__label" for="documentType">Tipo de documento</label>
            <select formControlName="documentType" class="register__input" id="documentType">
              <option *ngFor="let document of documentTypeOptions" [value]="document">{{document}}</option>
            </select>
          </div>
          <div>
            <label class="register__label" for="documentNumber">Número de documento</label>
            <input type="text" formControlName="documentNumber" placeholder="1234567890" id="documentNumber" class="register__input" maxlength="10" required [ngClass]="{'empty-field': registerForm.get('documentNumber')?.invalid && registerForm.get('documentNumber')?.touched}"/>
          </div>
          <div>
            <label class="register__label" for="address">Dirección</label>
            <input type="text" formControlName="address" placeholder="Dirección" id="address" class="register__input" required [ngClass]="{'empty-field': registerForm.get('address')?.invalid && registerForm.get('address')?.touched}"/>
          </div>
          <div>
            <label class="register__label" for="email">Correo electrónico</label>
            <input type="email" formControlName="email" placeholder="Email" id="email" class="register__input" required [ngClass]="{'empty-field': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}"/>
          </div>
          <div>
            <label class="register__label" for="salary">Salario</label>
            <input type="number" formControlName="salary" (blur)="test()"  placeholder="$ $ $" id="salary" class="register__input" required [ngClass]="{'empty-field': registerForm.get('salary')?.invalid && registerForm.get('salary')?.touched}"/>
          </div>
          <div>
            <label class="register__label" for="password">Contraseña</label>
            <input type="password" formControlName="password" placeholder="* * *" id="password" class="register__input" required [ngClass]="{'empty-field': registerForm.get('password')?.invalid && registerForm.get('password')?.touched}"/>
          </div>
          <div>
            <label class="register__label" for="confirmPassword">Confirmar Contraseña</label>
            <input type="password" formControlName="confirmPassword" placeholder="* * *" id="confirmPassword" class="register__input" required [ngClass]="{'empty-field': registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched}"/>
          </div>
        </div>
      </div>
      <div>
        <div class="register__buttons">
          <button class="register__button" (click)="onRegister()" [disabled]="loading"
            [ngClass]="loading ? 'register__button-disabled' : 'register__button-ghost'">Registrarse</button>
          <button type="submit" class="register__button" (click)="login()" [disabled]="loading"
            [ngClass]="loading ? 'register__button-disabled' : 'register__button-active'"> ¿Ya tienes una cuenta? </button>
        </div>
      </div>
    </form>
    <div class="loader" *ngIf="loading"></div>
  </div>
</div>
