<div class="container">
  <div class="login__content">
    <img src="./../../assets/bg-login.png" alt="login imagen" class="login__img" />
    <form class="login__form">
      <div>
        <h1 class="login__title"><span>BIENVENIDO</span></h1>
        <!-- <p class="login__description">Please login to continue.</p> -->
      </div>
      <div>
        <div class="login__inputs">
          <div>
            <label class="login__label">Nombre</label>
            <input type="text" placeholder="Nombre" name="nombre" id="nombre"
              class="login__input" required />
          </div>
          <div>
            <label for="password" class="login__label">Apellido</label>
            <div class="login__box">
              <input type="password" id="apellidos" name="apellido"
                placeholder="Contraseña" class="login__input" required />
              <!-- <fa-icon [icon]="faEye" class="login__icon" *ngIf="showEye" (click)="toggleEye()"></fa-icon>
                <fa-icon [icon]="faLock" class="login__icon" *ngIf="!showEye" (click)="toggleEye()"></fa-icon> -->
            </div>
          </div>
          <div>
            <label class="login__label">Fecha de nacimiento</label>
            <input type="date" placeholder="01/01/2000" name="bornDate" id="bornDate"
              class="login__input" required />
          </div>
          <div>
            <label class="login__label">Tipo de documento</label>
            <input type="text" placeholder="CC" name="tipoDocumento" id="tipoDocumento"
              class="login__input" required />
          </div>
          <div>
            <label class="login__label">Número de documento</label>
            <input type="text" placeholder="123456789" name="numeroDocumento" id="numeroDocumento"
              class="login__input" required />
          </div>
          <div>
            <label class="login__label">Dirección</label>
            <input type="text" placeholder="Dirección" name="direccion" id="direccion"
              class="login__input" required />
          </div>
          <div>
            <label class="login__label">Correo electrónico</label>
            <input type="text" placeholder="Email" name="email" id="email"
              class="login__input" required />
          </div>
        </div>
        <!-- <div class="login__check">
          <input type="checkbox" class="login__check-input" id="remember" />
          <label for="remember" class="login__check-label">Remember me</label>
        </div> -->
      </div>
      <div>
        <div class="login__buttons">
          <button class="login__button login__button-ghost" (click)="register()">Registrarse</button>
          <button type="button" class="login__button login__button-active"  (click)="login()">
            Ingresar
          </button>
        </div>
        <!-- <a href="#" class="login__forgot">Forgot Password?</a> -->
      </div>
    </form>
  </div>
</div>

