input,
button {
  font-family: var(--body-font);
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== register FORM ===============*/
.register__content,
.register__form,
.register__inputs {
  display: grid;
}

.register__content {
  position: relative;
  height: 100vh;
  align-items: center;
}

.register__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.register__form {
  position: relative;
  background-color: hsla(244, 16%, 92%, 0.6);
  border: 2px solid hsla(244, 16%, 92%, 0.75);
  margin-inline: 1.5rem;
  row-gap: 1.25rem;
  backdrop-filter: blur(20px);
  padding: 2rem;
  border-radius: 1rem;
}

.register__title {
  color: var(--title-color);
  font-size: var(--h2-font-size);
}

.register__title span {
  color: var(--first-color);
}

.register__inputs {
  row-gap: 0.75rem;
  column-gap: 1.75rem;
}

.register__label {
  display: block;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.25rem;
}

.register__input {
  width: 100%;
  padding: 14px 12px;
  border-radius: 6px;
  border: 2px solid var(--text-color);
  background-color: hsla(244, 16%, 92%, 0.6);
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  transition: border 0.4s;
}

.register__input::placeholder {
  color: var(--text-color);
}

.register__input:focus,
.register__input:valid {
  border: 2px solid var(--first-color);
}

.register__box {
  position: relative;
}

.register__box .register__input {
  padding-right: 36px;
}

.register__buttons {
  display: flex;
  column-gap: 1.75rem;
}

.register__button {
  width: 100%;
  padding: 14px 2rem;
  border-radius: 6px;
  color: #fff;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
  cursor: pointer;
}

.register__button-ghost {
  background: hsla(244, 16%, 92%, 0.6);
  border: 2px solid var(--first-color);
  color: var(--first-color);
  box-shadow: none;
}

.register__button-active {
  background: linear-gradient(180deg, var(--first-color), var(--second-color));
  box-shadow: 0 6px 24px hsla(244, 75%, 48%, 0.5);
}

.register__button-disabled {
  background: hsla(244, 16%, 92%, 0.6);
  cursor: not-allowed;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (max-width: 360px) {
  .register__buttons {
    flex-direction: column;
  }
}

/* For medium devices */

@media screen and (min-width: 576px) {
  .register__form {
    width: 100%;
    justify-self: center;
  }
}

/* For large devices */

@media screen and (min-width: 1064px) {
  .container {
    height: 100vh;
    display: grid;
    place-items: center;
  }

  .register__content {
    width: 1024px;
    height: 600px;
  }

  .register__img {
    border-radius: 1.25rem;
    box-shadow: 0 24px 48px hsla(244, 75%, 36%, 0.45);
  }

  .register__form {
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .register__content {
    height: auto;
  }

  .register__form {
    row-gap: 2rem;
    padding: 2.5rem;
    border-radius: 1.25rem;
    border: 2.5px solid hsla(244, 16%, 92%, 0.75);
  }

  .register__label,
  .register__button {
    font-size: var(--normal-font-size);
  }

  .register__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .register__input {
    border: 2.5px solid var(--text-color);
    padding: 1rem;
    font-size: var(--small-font-size);
  }

  .register__input:focus,
  .register__input:valid {
    border: 2.5px solid var(--first-color);
  }

  .register__button {
    padding-block: 1rem;
    margin-bottom: 1.25rem;
  }

  .register__button-ghost {
    border: 2.5px solid var(--first-color);
  }
}

.empty-field {
  border: 2px red solid;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  z-index: 999;
  position: absolute;
  left: 44%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
